//COLORES
//Gris Oscuro Títulos : #424242
//Gris Claro fecha: #5f6368
//Gris Texto : #414549
//Azul : #4285f4

$link: #424242;

//GRID SYSTEM

$columns : 12;
$column-width : 100%/$columns;
$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );
@function column-width($column){
  @return $column-width*$column;
}
@mixin column($media, $min-width){
  @media (min-width:$min-width){
    @for $i from 1 through $columns {
      .column-#{$media}-#{$i} {
        width: column-width($i);
      }
    }
  }
}
@each $name, $width in $breakpoints {
  @include column($name, $width);
}

//REUSABLE
*{
    font-family: Roboto,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.center{
    text-align: center;
}
li{
    list-style: none;
    a{
    text-decoration: none;
        color: $link;
        font-weight: 600;
        margin:0 20px;
    }
}

section{
    padding: 50px 0; 
}
.right{
    float: right;
}
.left{
    float: left;
}

img{
    max-width: 100%;
    
}